/*
 * Author: Asher Preska Steinberg
 *
 */

manifest {
    name = 'shahcompbio/peptidescope'
    version = '0.0.1'
    description = 'visualize MS-detected peptides with transcript structures'
    author = 'Asher Preska Steinberg'
    nextflowVersion = '>=24.10.5'
}

enable.dsl = 2
enable.plugins = true
plugins {
    id 'nf-schema@2.4.1'
}

/*
 * default params
 */

params.transcript_gtf = null
params.transdecoder_gff3 = null
params.transcripts_fasta = null
params.outdir = null
params.fragpipe_dir = null
params.sample_id = null
params.igv_report = false
params.bigwig = null
params.protein_list = null
params.ref_genome = null
params.ref_genome_index = null

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    slurm {
        executor {
            name = 'slurm'
            queue = 'componc_cpu'
        }

        process {
            submitRateLimit = '3 sec'
            queueSize = 100
        }
    }
}


process {

    resourceLimits = [cpus: 10, memory: 100.GB, time: 4.h]

    errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'

    withLabel: process_low {
        cpus = { check_max(1 * task.attempt, 'cpus') }
        memory = { check_max(8.GB * task.attempt, 'memory') }
        time = { check_max(1.h * task.attempt, 'time') }
    }
    withLabel: process_single {
        cpus = { check_max(1, 'cpus') }
        memory = { check_max(6.GB * task.attempt, 'memory') }
        time = { check_max(1.h * task.attempt, 'time') }
    }
    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries = 2
    }
}

// nf-schema params

validation {
    help {
        enabled = true
    }
}
