/*
 * Author: Asher Preska Steinberg
 *
 */

manifest {
  name = 'shahcompbio/peptidescope'
  version = '0.0.1'
  description = 'visualize MS-detected peptides with transcript structures'
  author = 'Asher Preska Steinberg'
  nextflowVersion = '>=24.10.5'
}

enable.dsl=2
enable.plugins = true
plugins {
  id 'nf-schema@2.4.1'
}

/*
 * default params
 */

 params.transcript_gtf = "/data1/shahs3/users/preskaa/APS010.1_Archive/bambu_out/multiSample_NDR_0.1/detected_transcripts.gtf"
 params.transdecoder_gff3 = "/data1/shahs3/users/preskaa/APS010.1_Archive/transdecoder/NDR_0.1/transcripts.fa.transdecoder.gff3"
 params.transcripts_fasta = "/data1/shahs3/users/preskaa/APS010.1_Archive/gffread/NDR_0.1/transcripts.fa"
 params.outdir = "/data1/shahs3/users/preskaa/A673/data/APS010.1_PG3_v_Swissprot/transdecoder_ORF_viz" 
 params.fragpipe_dir = "/data1/shahs3/users/preskaa/APS010.1_Archive/fragpipe/spike_in" 
 params.sample_id = "A673"
 params.igv_report = false
 params.bigwig = "/data1/shahs3/isabl_data_lake/analyses/24/35/42435/results/minimap2/bigwig/SHAH_H003599_T01_01_TR01_R1.bedGraph"
 params.protein_list = "/data1/shahs3/users/preskaa/A673/data/APS010.1_PG3_v_Swissprot/peptidescope/noblastmatch_proteins.txt"
 params.ref_genome = "/data1/shahs3/reference/ref-sarcoma/GRCh38/v45/GRCh38.primary_assembly.genome.fa"
 params.ref_genome_index = "/data1/shahs3/reference/ref-sarcoma/GRCh38/v45/GRCh38.primary_assembly.genome.fa.fai"

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    slurm {
        executor {
            name = 'slurm'
            queue = 'componc_cpu'
        }

        process {
            submitRateLimit = '3 sec'
            queueSize       = 100
        }
    }
}


process {

    resourceLimits = [ cpus: 10, memory: 100.GB, time: 4.h ]

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_low {
        cpus   = { 1     * task.attempt, 'cpus'    }
        memory = { 8.GB * task.attempt, 'memory'   }
        time   = { 1.h   * task.attempt, 'time'    }
    }
    withLabel:process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h  * task.attempt, 'time'    ) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}

// nf-schema params

validation {
  help {
    enabled = true
  }
}


